# Header

## Subheading

some text.

### sub sub heading

## another subheading

I can do **bold** and *italic*.  Even equations (use LaTeX format):

$$
E=mc^2 \times \sqrt{\frac{1}{1-v^2/c^2}}
$$

In [1]:
a=5

In [2]:
a

5

In [3]:
b=10
a+b

15

In [4]:
a*b

50

Exponents use ** not ^

In [5]:
3**4

81

In [6]:
3^4  # gives a weird answer and is not an exponent

7

In [7]:
a

5

In [8]:
a=a+1

In [9]:
a

6

In [11]:
bob=56
sally=103
bob*sally

5768

In [13]:
print("here")
for i in range(10):
    print(i)
    print("hello")

    print("another")

print("there")

here
0
hello
another
1
hello
another
2
hello
another
3
hello
another
4
hello
another
5
hello
another
6
hello
another
7
hello
another
8
hello
another
9
hello
another
there

In [14]:
print("here")
for bob in range(10):
    print(bob,"hello")

print("there")

here
0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
there

In [16]:
S=0
for value in range(10):
    print("before",S)
    S=S+value
    print("after",S)

print(S)

before 0
after 0
before 0
after 1
before 1
after 3
before 3
after 6
before 6
after 10
before 10
after 15
before 15
after 21
before 21
after 28
before 28
after 36
before 36
after 45
45

In [18]:
S=0
for value in range(10):
    S=S+value

print(S)

45

In [17]:
0+1+2+3+4+5+6+7+8+9

45

### Wrong way #1

In [19]:
N=15

# rest of this I want at the end to print out the factorial of N

total=0
for value in range(N):
    total=total*value

print(total)

0

the range(N) goes from 0 to N-1

### Wrong way #2

In [20]:
N=15

# rest of this I want at the end to print out the factorial of N

total=0
for value in range(1,N+1):
    print(value)
    total=total*value

print(total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0

In [21]:
N=15

# rest of this I want at the end to print out the factorial of N

total=0
for value in range(N):
    print(value)
    total=total*(value+1)

print(total)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0

### hopefully correct

In [23]:
N=15

# rest of this I want at the end to print out the factorial of N

total=1
for value in range(N):
    total=total*(value+1)

print(total)

1307674368000

In [24]:
def factorial(N):
    total=1
    for value in range(N):
        total=total*(value+1)

    return total

In [25]:
a=factorial(5)

In [26]:
print(a)

120

Our friend Pythagoras:

$$
a^2 + b^2 = c^2
$$

which means

$$
c=\sqrt{a^2 + b^2}
$$

In [27]:
a=5
b=8
c=sqrt(a**2+b**2)

NameError: name 'sqrt' is not defined

In [28]:
from numpy import sqrt

In [29]:
a=5
b=8
c=sqrt(a**2+b**2)

In [30]:
print(c)

9.433981132056603