In [ ]:
%matplotlib inline
from pylab import *
from sci378 import *
from sci378.stats import *

Version:  0.0.37

In [ ]:
data=pd.read_csv('data/dog_mass.csv')
t_data=data['days'].values[:10]  # just the start
y_data=data['mass'].values[:10]
data

    days   mass  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0     31   6.25         NaN         NaN         NaN         NaN         NaN
1     62  10.00         NaN         NaN         NaN         NaN         NaN
2     93  20.00         NaN         NaN         NaN         NaN         NaN
3     99  23.00         NaN         NaN         NaN         NaN         NaN
4    107  26.00         NaN         NaN         NaN         NaN         NaN
5    113  27.60         NaN         NaN         NaN         NaN         NaN
6    121  29.80         NaN         NaN         NaN         NaN         NaN
7    127  31.60         NaN         NaN         NaN         NaN         NaN
8    148  37.20         NaN         NaN         NaN         NaN         NaN
9    161  41.20         NaN         NaN         NaN         NaN         NaN
10   180  48.70         NaN         NaN         NaN         NaN         NaN
11   214  54.00         NaN         NaN         NaN         NaN         NaN
12   221  54.00         NaN         NaN         NaN         NaN         NaN
13   307  63.00         NaN         NaN         NaN         NaN         NaN
14   452  66.00         NaN         NaN         NaN         NaN         NaN
15   482  72.00         NaN         NaN         NaN         NaN         NaN
16   923  72.20         NaN         NaN         NaN         NaN         NaN
17   955  76.00         NaN         NaN         NaN         NaN         NaN
18  1308  75.00         NaN         NaN         NaN         NaN         NaN