In [ ]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
chronic_kidney_disease = fetch_ucirepo(id=336) 
  
# data (as pandas dataframes) 
X = chronic_kidney_disease.data.features 
y = chronic_kidney_disease.data.targets

In [ ]:
from numpy import array

In [ ]:
y

      class
0       ckd
1       ckd
2       ckd
3       ckd
4       ckd
..      ...
395  notckd
396  notckd
397  notckd
398  notckd
399  notckd

[400 rows x 1 columns]

In [ ]:
X.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane'],
      dtype='object')

In [ ]:
array(X[y['class'] == 'ckd']['sod'].dropna())

array([111. , 142. , 104. , 114. , 131. , 138. , 135. , 130. , 141. ,
       138. , 139. , 135. , 135. ,   4.5, 136. , 129. , 141. , 140. ,
       130. , 132. , 141. , 133. , 133. , 132. , 136. , 139. , 134. ,
       134. , 130. , 142. , 125. , 142. , 136. , 136. , 131. , 132. ,
       138. , 138. , 163. , 138. , 131. , 131. , 137. , 141. , 132. ,
       131. , 138. , 132. , 137. , 141. , 133. , 128. , 140. , 134. ,
       135. , 139. , 143. , 136. , 133. , 140. , 137. , 131. , 132. ,
       135. , 139. , 133. , 139. , 141. , 139. , 127. , 139. , 141. ,
       142. , 128. , 139. , 137. , 137. , 130. , 131. , 136. , 136. ,
       133. , 135. , 134. , 136. , 136. , 138. , 140. , 146. , 134. ,
       142. , 132. , 142. , 137. , 135. , 135. , 136. , 126. , 139. ,
       130. , 141. , 133. , 132. , 140. , 136. , 132. , 122. , 147. ,
       124. , 140. , 137. , 127. , 131. , 115. , 130. , 145. , 141. ,
       113. , 125. , 139. , 136. , 140. , 135. , 133. , 138. , 135. ,
       142. , 137. , 135. , 134. , 113. , 138. , 122. , 124. , 137. ,
       140. , 140. , 137. , 135. , 142. , 145. , 135. , 135. , 132. ,
       137. , 141. , 138. , 136. , 138. , 131. , 140. , 114. , 138. ,
       146. , 136. , 127. , 137. , 140. , 120. , 138. , 135. , 135. ,
       120. , 140. , 138. , 124. ])

In [ ]:
array(X[y['class'] == 'notckd']['sod'].dropna())

array([135., 150., 147., 135., 135., 144., 146., 135., 140., 135., 147.,
       139., 135., 137., 140., 150., 135., 146., 140., 142., 145., 144.,
       135., 140., 141., 139., 137., 135., 142., 140., 144., 147., 135.,
       142., 135., 145., 137., 135., 143., 146., 140., 139., 150., 135.,
       150., 140., 146., 135., 150., 141., 147., 145., 135., 138., 140.,
       150., 135., 139., 142., 147., 135., 142., 145., 135., 139., 137.,
       135., 150., 144., 140., 143., 150., 140., 141., 150., 145., 146.,
       135., 147., 150., 142., 136., 139., 141., 147., 136., 142., 150.,
       138., 135., 150., 138., 141., 144., 147., 150., 142., 139., 141.,
       150., 147., 145., 144., 140., 138., 147., 135., 138., 144., 137.,
       145., 141., 139., 146., 144., 139., 145., 150., 142., 146., 143.,
       147., 145., 140., 138., 139., 142., 137., 141., 150., 146., 142.,
       136., 144., 140., 135., 142., 147., 141., 139., 150., 141., 137.,
       135., 141.])